@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-100 text-slate-900;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5f5 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5f5;
  border-radius: 999px;
}
